<table class="table">
	<tr>
		<td><h3>LISTA DE PERSONAS</h3></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td><div class="text-center">
				<h4>ID</h4>
			</div></td>
		<td><div class="text-center">
				<h4>ID TIPO DOCUMENTO</h4>
			</div></td>
		<td><div class="text-center">
				<h4>NUMERO DOCUMENTO</h4>
			</div></td>
		<td><div class="text-center">
				<h4>NOMBRES</h4>
			</div></td>
		<td><div class="text-center">
				<h4>APELLIDOS</h4>
			</div></td>
		<td><div class="text-center">
				<h4>ACCION</h4>
			</div></td>
	</tr>
	<tr ng-repeat="persona in listaPersonas">
		<td><div class="text-center">{{persona.id}}</div></td>
		<td><div class="text-center">{{persona.idTipoDoc.id}}</div></td>
		<td><div class="text-center">{{persona.nroDoc}}</div></td>
		<td><div class="text-center">{{persona.nombres}}</div></td>
		<td><div class="text-center">{{persona.apellidos}}</div></td>
		<td><div class="text-center">
				<a class="btn btn-default" ui-sref="personas-view({id:persona.id})">Ver</a>
			</div></td>
	</tr>
</table>
<div class="text-center">
	<a ui-sref="personas-new" class="btn-primary btn-lg">Agregar Nueva
		Persona</a>
</div>
