<meta charset="UTF-8">
<div class="col-sm-4 col-sm-offset-4">
<div class="form-group">
	<label for="idTipoDoc.id" class="col-sm-2 control-label">Tipo
		de Documento (id)</label>
	<div class="col-sm-10">
		<input type="text" ng-model="persona.idTipoDoc.id"
			class="form-control" id="idTipoDoc.id"
			placeholder="1 (CIPRY), 2 (PASPRY), 3 (DNIEXT), 4 (PASEXT), 5 (OTRO)" />
	</div>
</div>
<div class="form-group">
	<label for="nroDoc" class="col-sm-2 control-label">Número de
		Documento</label>
	<div class="col-sm-10">
		<input type="text" ng-model="persona.nroDoc" class="form-control"
			id="nroDoc" placeholder="Número de documento de la persona" />
	</div>
</div>
<div class="form-group">
	<label for="nombres" class="col-sm-2 control-label">Nombres</label>
	<div class="col-sm-10">
		<input type="text" ng-model="persona.nombres" class="form-control"
			id="nombres" placeholder="Nombre(s) de la persona" />
	</div>
</div>
<div class="form-group">
	<label for="apellidos" class="col-sm-2 control-label">Apellidos</label>
	<div class="col-sm-10">
		<input type="text" ng-model="persona.apellidos" class="form-control"
			id="apellidos" placeholder="Apellidos(s) de la persona" />
	</div>
</div>
<div class="form-group">
	<label for="fisica" class="col-sm-2 control-label">Física</label>
	<div class="col-sm-10">
		<input type="text" ng-model="persona.fisica" class="form-control"
			id="fisica" placeholder="¿Es persona física?: true (sí) - false (no)" />
	</div>
</div>
<div class="form-group">
	<label for="direccion" class="col-sm-2 control-label">Dirección</label>
	<div class="col-sm-10">
		<input type="text" ng-model="persona.direccion" class="form-control"
			id="direccion" placeholder="Dirección de la persona" />
	</div>
</div>
<div class="form-group">
	<label for="telefono" class="col-sm-2 control-label">Teléfono</label>
	<div class="col-sm-10">
		<input type="text" ng-model="persona.telefono" class="form-control"
			id="telefono" placeholder="Teléfono de la persona" />
	</div>
</div>
<div class="form-group">
	<label for="celular" class="col-sm-2 control-label">Celular</label>
	<div class="col-sm-10">
		<input type="text" ng-model="persona.celular" class="form-control"
			id="celular" placeholder="Celular de la persona" />
	</div>
</div>
<input type="submit" value="Crear persona">
</div>