<meta charset="UTF-8">
<table class="table">
	<tr>
		<td><h3>Detalle de {{persona.apellidos}},
				{{persona.nombres}}</h3></td>
		<td></td>
	</tr>
	<tr>
		<td>Id:</td>
		<td>{{persona.id}}</td>
	</tr>
	<tr>
		<td>Tipo de documento:</td>
		<td>{{persona.idTipoDoc.descripcion}}</td>
	</tr>
	<tr>
		<td>Número de documento:</td>
		<td>{{persona.nroDoc}}</td>
	</tr>
	<tr>
		<td>Nombres(s):</td>
		<td>{{persona.nombres}}</td>
	</tr>
	<tr>
		<td>Apellido(s):</td>
		<td>{{persona.apellidos}}</td>
	</tr>
	<tr>
		<td>Física:</td>
		<td>{{persona.fisica}}</td>
	</tr>
	<tr>
		<td>Dirección:</td>
		<td>{{persona.direccion}}</td>
	</tr>
	<tr>
		<td>Teléfono:</td>
		<td>{{persona.telefono}}</td>
	</tr>
	<tr>
		<td>Celular:</td>
		<td>{{persona.celular}}</td>
	</tr>
</table>

